# Byte-compiled / caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Data
/data/raw/
/data/processed/

# Reports
/reports/

# OS files
.DS_Store
Thumbs.db
